@import "https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i";

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Open Sans", "Courier New", Courier, monospace;
}

.grid-areas {
  display: grid;
  grid-template-areas:
    "header header header header"
    "menu main main main"
    "footer footer footer footer";
}

.seccion1 {
  height: 8vh;
}

header {
  grid-area: header;
  background-color: #2641ca;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 40px;
}

header p {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

header i {
  padding: 5px;
  font-size: 22px;
  font-weight: bolder;
  color: #fff;
}

nav {
  grid-area: menu;
  border: 1px solid #d9d9d9;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

nav h3 {
  font-size: 20px;
  padding: 10px 0px;
}

nav h2 {
  padding-top: 10px;
  font-size: 16px;
  color: #373737;
}

nav ul {
  list-style-type: none;
}

nav a {
  font-size: 14px;
  color: #b1d4ef;
  text-decoration: none;
  padding-left: 15px;
}

nav a:hover {
  color: #bedbf0;
}

nav a:focus {
  color: #c7ebf2;
}

main {
  grid-area: main;
  border: 1px solid #d9d9d9;
}

.grid-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px;
  gap: 20px;
}

.grid-items {
  border: 1px solid #b1d4ef;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 0 0;
}

main img {
  height: 200px;
}

main h4 {
  padding: 10px 10px 5px 10px;
  text-align: center;
  font-size: 16px;
}

.autor {
  font-size: 12px;
  text-decoration: none;
  color: #000;
}

.editorial {
  padding: 5px 20px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #a6a6a6;
}

.valor {
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
  color: #545454;
}

.boton {
  display: flex;
  gap: 5px;
}

.carro {
  margin: 10px 0px 0px;
  padding: 8px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #2641ca;
}

.carro:hover {
  background-color: #a6a6a6;
}

.comprar {
  margin: 10px 0px 0px;
  padding: 8px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #bedbf0;
}

.comprar:hover {
  background-color: #a6a6a6;
}

footer {
  grid-area: footer;
  background-color: #2641ca;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-size: 11px;
  font-weight: bold;
  color: #fff;
}

footer a {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #bedbf0;
}
